.Highlight {
    background-color: #cc0000;
    /* border: 1px solid #666; */
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 3px 15px;
    margin: 1px 3px;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
}

.Highlight i {
    margin-left: 5px;
}

