.Settings {
    float: right;
    color: #ddd;
    margin: 8px 10px 0 10px;
}

.Settings a:link,
.Settings a:visited {
    color:white;
    text-decoration: none;
    text-transform: inherit;
    font-size: 90%;
    padding: 8px 0;
}

.Settings a:hover,
.Settings a:active {
    padding: 8px 0;
    color: #aa0000;
}