.DrawerToggle {
    width: 40px;
    height: 100%;
    float: left;
    display: inline;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    margin: 18px 0 0 15px;
    /*border: 1px solid #cc0000;*/
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: #cc0000;
    margin-top: 5px;
    border-radius: 30px;
}

/*@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}*/